<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{site/homeLayout.html}"
>
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="" layout:fragment="content">
      <div class="alert alert-success" role="alert" th:if="${message}">
        <h4 class="alert-heading">Notification</h4>
        <p>[[${message}]]</p>
        <p class="mb-0"></p>
      </div>
      <h2 class="title">New Product</h2>
      <div class="product-main" th:if="${listProduct}">
        <div class="product-grid">
          <div th:each=" item : ${listProduct}">
            <div class="showcase">
              <div class="showcase-banner">
                <img
                  th:src="${item.image != null ?  '/products/images/' +  item.image : '/images/No-Image.png' }"
                  alt="Mens Winter Leathers Jackets"
                  width="300"
                  height="300"
                  class="product-img default"
                />
                <img
                  th:src="${item.image != null ?  '/products/images/' +  item.image : '/images/No-Image.png' }"
                  alt="Mens Winter Leathers Jackets"
                  width="300"
                  height="300"
                  class="product-img hover"
                />
                <p class="showcase-badge angle pink">new</p>
                <div class="showcase-actions">
                  <button class="btn-action">
                    <ion-icon name="eye-outline"></ion-icon>
                  </button>
                  <button class="btn-action">
                    <ion-icon name="bag-add-outline"></ion-icon>
                  </button>
                </div>
              </div>

              <div class="showcase-content">
                <a
                  href="#"
                  class="showcase-category"
                  th:text="${item.category.name}"
                ></a>

                <a href="#">
                  <h3 class="showcase-title" th:text="${item.name}"></h3>
                </a>

                <div class="showcase-rating">
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </div>

                <div class="price-box">
                  <p class="price">
                    $[[${item.unitPrice}*(100 - ${item.discount})*0.01 ]]
                  </p>
                  <del th:text="'$' + ${item.unitPrice}"></del>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product-main">
        <h2 class="title">New Products</h2>
        <div class="product-grid">
          <div class="showcase">
            <div class="showcase-banner">
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Mens Winter Leathers Jackets"
                width="300"
                class="product-img default"
              />
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Mens Winter Leathers Jackets"
                width="300"
                class="product-img hover"
              />

              <p class="showcase-badge">15%</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">jacket</a>

              <a href="#">
                <h3 class="showcase-title">Mens Winter Leathers Jackets</h3>
              </a>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$48.00</p>
                <del>$75.00</del>
              </div>
            </div>
          </div>
          <div class="showcase">
            <div class="showcase-banner">
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Pure Garment Dyed Cotton Shirt"
                class="product-img default"
                width="300"
              />
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Pure Garment Dyed Cotton Shirt"
                class="product-img hover"
                width="300"
              />

              <p class="showcase-badge angle black">sale</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">shirt</a>

              <h3>
                <a href="#" class="showcase-title"
                  >Pure Garment Dyed Cotton Shirt</a
                >
              </h3>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$45.00</p>
                <del>$56.00</del>
              </div>
            </div>
          </div>
          <div class="showcase">
            <div class="showcase-banner">
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="MEN Yarn Fleece Full-Zip Jacket"
                class="product-img default"
                width="300"
              />
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="MEN Yarn Fleece Full-Zip Jacket"
                class="product-img hover"
                width="300"
              />

              <div class="showcase-actions">
                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">Jacket</a>

              <h3>
                <a href="#" class="showcase-title"
                  >MEN Yarn Fleece Full-Zip Jacket</a
                >
              </h3>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
                <ion-icon name="star-outline"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$58.00</p>
                <del>$65.00</del>
              </div>
            </div>
          </div>
          <div class="showcase">
            <div class="showcase-banner">
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Black Floral Wrap Midi Skirt"
                class="product-img default"
                width="300"
              />
              <img
                src="https://images.unsplash.com/photo-1495277493816-4c359911b7f1?q=80&w=2065&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="Black Floral Wrap Midi Skirt"
                class="product-img hover"
                width="300"
              />

              <p class="showcase-badge angle pink">new</p>

              <div class="showcase-actions">
                <button class="btn-action">
                  <ion-icon name="eye-outline"></ion-icon>
                </button>

                <button class="btn-action">
                  <ion-icon name="bag-add-outline"></ion-icon>
                </button>
              </div>
            </div>

            <div class="showcase-content">
              <a href="#" class="showcase-category">skirt</a>

              <h3>
                <a href="#" class="showcase-title"
                  >Black Floral Wrap Midi Skirt</a
                >
              </h3>

              <div class="showcase-rating">
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
                <ion-icon name="star"></ion-icon>
              </div>

              <div class="price-box">
                <p class="price">$25.00</p>
                <del>$35.00</del>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
