<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout2.html}"
>
  <head>
    <link rel="stylesheet" href="http://localhost:8080/css/toDoList.css" />
  </head>

  <body>
    <main layout:fragment="content">
      <div class="header">
        <div class="left">
          <h1>Dashboard</h1>
        </div>
      </div>
      <!-- Insights -->
      <ul class="insights">
        <li>
          <i class="bx bx-calendar-check"></i>
          <span class="info">
            <p>Paid Orders</p>
          </span>
        </li>
        <li>
          <i class="bx bx-dollar-circle"></i>
          <span class="info">
            <h3>$17,42</h3>
            <p>Total Sales</p>
          </span>
        </li>
      </ul>
      <!-- End of Insights -->

      <div class="bottom-data">
        <div class="orders">
          <div class="header">
            <i class="bx bx-receipt"></i>
            <h3>Recent Orders</h3>
            <i class="bx bx-filter"></i>
            <i class="bx bx-search"></i>
          </div>
          <table>
            <thead>
              <tr>
                <th>User</th>
                <th>Order Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p>aaaaaa</p>
                </td>
                <td>15-08-2023</td>
                <td><span class="status completed">Completed</span></td>
              </tr>
              <tr>
                <td>
                  <p>aaafjfh</p>
                </td>
                <td>14-08-2023</td>
                <td><span class="status pending">Pending</span></td>
              </tr>
              <tr>
                <td>
                  <p>aaaaaa</p>
                </td>
                <td>14-08-2023</td>
                <td><span class="status process">Processing</span></td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- Reminders -->
        <div class="reminders">
          <div class="container">
            <div class="form">
              <h3>Create Task</h3>
              <form>
                <textarea
                  id="task"
                  placeholder="Write the content of the task here"
                ></textarea>
                <button id="btnAdd">Create</button>
              </form>
            </div>
            <ul class="list"></ul>
          </div>
        </div>

        <!-- End of Reminders-->
      </div>
      <script src="http://localhost:8080/js/toDoList.js"></script>
    </main>
  </body>
</html>
