<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Admin Page</title>
  <link rel="stylesheet" href="http://localhost:8080/css/dashBoardAdmin.css">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
    integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
</head>

<body>
  <!-- Sidebar -->
  <div class="" th:replace="admin/fragments/sidebar:: sidebar"></div>
  <!-- End of Sidebar -->
  <!-- Main Content -->
  <div class="content">
    <!-- Navbar -->
    <div class="" th:replace="admin/fragments/navbar:: navbar"></div>
    <!-- End of Navbar -->
    <div class="">
      <div class="container" layout:fragment="content"></div>
    </div>
  </div>
  <script src="http://localhost:8080/js/dashBoardAdmin.js"></script>

</body>

</html>