USE [master]
GO
/****** Object:  Database [D&BShopDB]    Script Date: 21-Nov-23 1:52:54 PM ******/
CREATE DATABASE [D&BShopDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'D&BShopDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\D&BShopDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'D&BShopDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\D&BShopDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [D&BShopDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [D&BShopDB]
GO
/****** Object:  Table [dbo].[accounts]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[accounts](
	[username] [varchar](30) NOT NULL,
	[password] [varchar](90) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customers]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customers](
	[customer_id] [int] IDENTITY(1,1) NOT NULL,
	[email] [nvarchar](100) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[register_date] [date] NULL,
	[status] [smallint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[customer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orderdetails]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orderdetails](
	[order_detail_id] [int] IDENTITY(1,1) NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [float] NOT NULL,
	[order_id] [int] NULL,
	[product_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_detail_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[order_id] [int] IDENTITY(1,1) NOT NULL,
	[amount] [float] NOT NULL,
	[order_date] [date] NULL,
	[status] [smallint] NOT NULL,
	[customer_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[order_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[product_id] [int] IDENTITY(1,1) NOT NULL,
	[description] [nvarchar](500) NOT NULL,
	[discount] [float] NOT NULL,
	[entered_date] [date] NULL,
	[image] [varchar](255) NULL,
	[name] [nvarchar](100) NOT NULL,
	[quantity] [int] NOT NULL,
	[status] [smallint] NOT NULL,
	[unit_price] [float] NOT NULL,
	[category_id] [int] NULL,
	[supplier_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[product_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[suppliers]    Script Date: 21-Nov-23 1:52:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[suppliers](
	[supplier_id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[supplier_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[accounts] ([username], [password]) VALUES (N'admin001', N'$2a$10$PwVxfZHpGNYAncnTY/pSae3Icew2JAzFE4BUoRoi2MJJTtjd0.Nma')
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([category_id], [name]) VALUES (1, N'Necklace')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (2, N'Bracelets')
INSERT [dbo].[categories] ([category_id], [name]) VALUES (3, N'Rings')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[customers] ON 

INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [status]) VALUES (1, N'thuydung@gmail.com', N'Thuy Dung', N'$2a$10$uo1osn1sR3T9VX86ZNeq1eDgPXPqpwg/rzwr2VER3HOlExpKrIg3m', N'0324923761', CAST(N'2023-11-18' AS Date), 0)
INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [status]) VALUES (2, N'thuytien@gmail.com', N'Thuy Tien', N'$2a$10$idcJqmSuiCPTft1Dj533aOyCxsy9sISkBWB.9ze8ig4zvlsO8ysJ6', N'0434354123', CAST(N'2023-11-19' AS Date), 0)
INSERT [dbo].[customers] ([customer_id], [email], [name], [password], [phone], [register_date], [status]) VALUES (3, N'vananh@gmail.com', N'Van Anh', N'$2a$10$rpyIq1ctxHN6c0R/aGpXZOHXDR8bau/xzykesjhZJz0YkmdM.CJyC', N'0454353128', CAST(N'2023-11-21' AS Date), 0)
SET IDENTITY_INSERT [dbo].[customers] OFF
GO
SET IDENTITY_INSERT [dbo].[orderdetails] ON 

INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (1, 1, 3060, 1, 1)
INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (2, 1, 5760, 1, 5)
INSERT [dbo].[orderdetails] ([order_detail_id], [quantity], [unit_price], [order_id], [product_id]) VALUES (3, 1, 3060, 2, 1)
SET IDENTITY_INSERT [dbo].[orderdetails] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (1, 8820, CAST(N'2023-11-19' AS Date), 0, 1)
INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (2, 11220, CAST(N'2023-11-19' AS Date), 6, 2)
INSERT [dbo].[orders] ([order_id], [amount], [order_date], [status], [customer_id]) VALUES (3, 7450, CAST(N'2023-11-19' AS Date), 6, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([product_id], [description], [discount], [entered_date], [image], [name], [quantity], [status], [unit_price], [category_id], [supplier_id]) VALUES (1, N'Tiffany Lock Rose Edition', 10, NULL, N'p5da4378b-9253-49ad-9e66-020be6fe328a.jpg', N'Tiffany Lock', 100, 1, 3400, 1, 1)
INSERT [dbo].[products] ([product_id], [description], [discount], [entered_date], [image], [name], [quantity], [status], [unit_price], [category_id], [supplier_id]) VALUES (2, N'Tiffany Lock Rose Edition', 0, NULL, N'p17ccee3b-f5f3-46fd-ac5f-9ab1f3895853.jpg', N'Tiffany Lock Bracelet', 100, 2, 14300, 2, 1)
INSERT [dbo].[products] ([product_id], [description], [discount], [entered_date], [image], [name], [quantity], [status], [unit_price], [category_id], [supplier_id]) VALUES (5, N'Tiffany Lock Rose Edition', 10, NULL, N'p1531e00a-6a2b-43ca-be2a-15facc2be905.jpg', N'Tiffany Lock Earrings', 100, 1, 6400, 6, 1)
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[suppliers] ON 

INSERT [dbo].[suppliers] ([supplier_id], [name]) VALUES (1, N'Tiffany & Co.')
INSERT [dbo].[suppliers] ([supplier_id], [name]) VALUES (2, N'Cartier')
INSERT [dbo].[suppliers] ([supplier_id], [name]) VALUES (3, N'Bvlgari')
SET IDENTITY_INSERT [dbo].[suppliers] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_278a8svwcsgmqrwb3tw4wjbuv]    Script Date: 21-Nov-23 1:52:55 PM ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UK_278a8svwcsgmqrwb3tw4wjbuv] UNIQUE NONCLUSTERED 
(
	[password] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UK_m3iom37efaxd5eucmxjqqcbe9]    Script Date: 21-Nov-23 1:52:55 PM ******/
ALTER TABLE [dbo].[customers] ADD  CONSTRAINT [UK_m3iom37efaxd5eucmxjqqcbe9] UNIQUE NONCLUSTERED 
(
	[phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FK92im1bt9gndrexccag7x5oq92] FOREIGN KEY([product_id])
REFERENCES [dbo].[products] ([product_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FK92im1bt9gndrexccag7x5oq92]
GO
ALTER TABLE [dbo].[orderdetails]  WITH CHECK ADD  CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([order_id])
GO
ALTER TABLE [dbo].[orderdetails] CHECK CONSTRAINT [FKhnsosbuy7bhpqpnt3bjr7sh8x]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg] FOREIGN KEY([customer_id])
REFERENCES [dbo].[customers] ([customer_id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FKpxtb8awmi0dk6smoh2vp1litg]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FK6i174ixi9087gcvvut45em7fd] FOREIGN KEY([supplier_id])
REFERENCES [dbo].[suppliers] ([supplier_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FK6i174ixi9087gcvvut45em7fd]
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD  CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([category_id])
GO
ALTER TABLE [dbo].[products] CHECK CONSTRAINT [FKog2rp4qthbtt2lfyhfo32lsw9]
GO
USE [master]
GO
