<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout2.html}"
>
  <head>
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>

  <body>
    <section class="" layout:fragment="content">
      <div class="row" style="margin: 15px 0px 5px 0px">
        <div class="col">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
            <li class="breadcrumb-item">
              <a th:href="@{/admin/customers}">Customer</a>
            </li>
            <li class="breadcrumb-item active">Add</li>
          </ol>
        </div>
      </div>
      <div class="col mt-4">
        <form
          th:action="@{/admin/customers/saveOrUpdate}"
          method="post"
          th:object="${customer}"
        >
          <div class="card">
            <div class="card-header">
              <h2
                th:text="${!customer.isEdit ? 'Edit Customer':'Add new Customer'}"
              ></h2>
            </div>
            <div class="card-body">
              <div class="form-group">
                <input type="hidden" th:field="*{isEdit}" />
                <div class="form-group" th:if="${!customer.isEdit}">
                  <label for="customerId">Customer ID: </label>
                  <input
                    type="text"
                    class="form-control"
                    name="customerId"
                    id="customerId"
                    aria-describedby="customerIdHid"
                    placeholder="Customer ID "
                    th:field="*{customerId}"
                    readonly
                  />
                </div>
                <div class="form-group">
                  <label for="name">Name </label>
                  <input
                    type="text"
                    class="form-control"
                    name="name"
                    id="name"
                    aria-describedby="nameHid"
                    placeholder="Name "
                    th:field="*{name}"
                  />
                  <small
                    id="nameHid"
                    class="form-text text-muted"
                    th:if="${#fields.hasErrors('name')}"
                    >Name is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    id="email"
                    aria-describedby="emailHid"
                    placeholder="Email"
                    th:field="*{email}"
                  />
                  <small
                    id="emailHid"
                    class="form-text text-muted"
                    th:if="${#fields.hasErrors('email')}"
                    >Email is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    class="form-control"
                    name="phone"
                    id="phone"
                    aria-describedby="phonelHid"
                    placeholder="Phone"
                    th:field="*{phone}"
                  />
                  <small
                    id="phoneHid"
                    class="form-text text-muted"
                    th:if="${#fields.hasErrors('phone')}"
                    >Phone is invalid</small
                  >
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input
                    type="password"
                    class="form-control"
                    name="password"
                    id="password"
                    aria-describedby="passwordHid"
                    th:field="*{password}"
                    placeholder="Password"
                  />
                  <small
                    id="passwordHid"
                    class="form-text text-muted"
                    th:if="${#fields.hasErrors('password')}"
                    >Password is invalid</small
                  >
                </div>
                <div class="form-group">
                  <label for="status">Status</label>
                  <select
                    class="form-control"
                    name="status"
                    id="status"
                    th:field="*{status}"
                  >
                    <option value="0">Actived</option>
                    <option value="1">UnActived</option>
                    <option value="2">Pending</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-footer text-muted">
              <a
                class="btn btn-secondary"
                th:href="@{/admin/customers/add}"
                type="reset"
                >New</a
              >
              <button class="btn btn-primary">
                <i class="fas fa-save"></i>
                Save
              </button>
              <button
                th:if="${customer.isEdit}"
                th:href="@{'/admin/customers/delete/' + ${customer.customerId}}"
                class="btn btn-danger float-right"
              >
                <i class="fas fa-save"></i>
                Delete
              </button>
            </div>
          </div>
        </form>
      </div>
    </section>
  </body>
</html>
