<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{admin/dashboardLayout2.html}">

<head>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
  <section class="" layout:fragment="content">
    <div class="row " style="margin: 15px 0px 5px 0px;">
      <div class="col">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a th:href="@{/admin}">Admin</a></li>
          <li class="breadcrumb-item active">Account</li>
        </ol>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-header">
          <h2>List of account</h2>
        </div>
        <div class="card-body">
          <table class="table table-striped table-inverse">
            <div class="alert alert-primary" role="alert" th:if="${message != null}">
              <i>[[${message}]]</i>
            </div>
            <div>
              <a th:href="@{/admin/accounts/add}" class="btn btn-sm btn-outline-primary m-2 float-right">New
                Account</a>
            </div>
            <thead class="thead-inverse">
              <tr>
                <th>User Name</th>
                <th>Password</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="account : ${accounts}">
                <td scope="row">[[${account.username}]]</td>
                <td th:text="${account.password}"></td>
                <td>
                  <a th:href="@{'/admin/accounts/edit/' + ${account.username}}" class="btn btn-outline-warning"><i
                      class="fas fa-edit"></i></a>
                  <a th:data-id="${account.username}" th:data-name="${account.username}" class="btn btn-outline-danger"
                    onclick="showConfirmModalDialog(this.getAttribute('data-id'),this.getAttribute('data-name'))"><i
                      class="fas fa-trash-alt "></i></a>

                </td>
              </tr>
            </tbody>
          </table>
          <script>
            showConfirmModalDialog = (id, name) => {
              $('#accountName').text(name);
              $('#yesOption').attr('href', '/admin/accounts/delete/' + id)
              $('#confirmationId').modal('show');
            }
          </script>



          <!-- Modal -->
          <div class="modal fade" id="confirmationId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Confirmation</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  Do you want to delete "<span id="accountName"></span>"?
                </div>
                <div class="modal-footer">
                  <a id="yesOption" type="button" class="btn btn-danger">Yes</a>
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">

      </div>
    </div>
  </section>
</body>

</html>